article section {
  color: white;
}

article section h1 {
  font-size: 36px;
}

article section p {
  font-size: 18px;
}

article section button {
  color: white !important;
}

.honolulu {
  object-fit: cover;
}
