header {
  height: 120px;
}

nav img {
  height: 85px;
}

header h1 {
  display: none;
}

nav .nav-link {
  font-weight: 400;
  font-size: 22px;
  padding-inline: 13px !important;
}

@media (min-width: 576px) {

  nav h1 {
    display: block;
    font-weight: 400;
    font-size: 30px;
    color: white;
  }
  nav .nav-link {
    font-weight: 400;
    font-size: 24px;
    padding-inline: 13px !important;
  }
}
